@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
}
main{
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

h4, h5, h6 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.5rem; }
    h4, h5, h6 { font-size: 1.25rem; }
}